<!-- HTML -->
{% extends 'magasin/base.html' %}

{% block body %}
<div class="text-right mb-3"> 
    <a href="{% url 'magasin:nouveauFour' %}" class="btn btn-info custom-text-color">Ajouter</a>
</div>

<h2 style="font-weight: bold;">Liste des fournisseurs</h2>
<table id="customers">  
    <thead>   
        <tr>      
            <th>Nom</th>      
            <th>Adresse</th>      
            <th>Email</th>      
            <th>Téléphone</th>    
        </tr>  
    </thead>  
    <tbody>    
        {% for fournisseur in fournisseurs %}   
            <tr>      
                <td>{{ fournisseur.nom }}</td>      
                <td>{{ fournisseur.adresse }}</td>      
                <td>{{ fournisseur.email }}</td>      
                <td>{{ fournisseur.telephone }}</td>    
            </tr>    
        {% empty %}    
            <tr>      
                <td colspan="4">Aucun fournisseur disponible.</td>    
            </tr>    
        {% endfor %}  
    </tbody>
</table>
{% endblock %}
